*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
:root{
    --bg-color:#1f242d;
    --second-bg-color:#323946;
    /* --main-color:#7cf03d; */
    --main-color:deeppink;
    --white-color:#fff;
    --disabled-color:#fff3;
}
body{
    color: #ededed;
}
.header{
    position:fixed;
    top:0;
    left:0;
    width: 100%;
    padding:20px 10% ;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo img{
    width: 120px;
    height: 120px;
    border-radius:50% ;
    visibility: hidden;
    opacity: 0;
    animation: show-content 1.5s linear forwards;
    animation-delay: 1.2s;
}
    
   

.logo{
    position: relative;
    

}
.navbar a{
    display: inline-block;
    font-size: 20px;
    color:#fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: -3s;
    visibility: hidden;
    opacity: 0;
    animation: show-content 1.5s linear forwards;
    animation-delay: 1.6s;
}
@keyframes show-content {
    100%{
        visibility: visible;
        opacity: 1;
    }
}
.navbar a:hover{
    color:#7cf03d;
}
.navbar a.active{
    color: #7cf03d;
}
#menu-icon {
    font-size: 4rem;
    display: none;
}
/* section */
 /* section{
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 10rem 9% 2rem;
    background: var(--bg-color);
}  */
 /* .home{
    position: relative;
    width: 100%;
    justify-content: space-between;
    height:100vh;
    background: url(wallpaper.png)no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 70px 10%;
}  */
.home{
    display: flex;
    align-items: center;
    height: 100vh;
    padding: 60px 9% 0;
    color: #fff;
    background-color: #1f242d;
    /* background: url(wallpaper.png)no-repeat; */
    visibility: hidden;
    opacity: 0;
    animation: show-content 1.5s linear forwards;
    animation-delay: 1.2s;
}
.home-info {
max-width: 600px;
}
.home-info h1{
    font-size: 50px;
    font-weight: 700;
    margin: -3px 0;

}
.home-info h2{
    display: inline-block;
    font-size: 32px;
    font-weight: 700;
}
.home-info h2 span{
    position: relative;
    display: inline-block;
    color: transparent;
    -webkit-text-stroke-color:.7px #7cf03d;
     animation: display-text 16s linear infinite;
     animation-delay:calc(-4s * var(--i))
    }
@keyframes display-text{
    25%,100%{
        display: none;

    }
}
.home-info h2 span::before{
    content: attr(data-text);
    position:absolute;
    width:0%;
    border-right : 2px solid #7cf03d;
    color: #7cf03d;
    white-space: nowrap;
    overflow: hidden;
    animation: fill-text 4s linear infinite;

}
@keyframes fill-text{
    10%,100%{
        width: 0;
    }
    70%,90%{
        width: 100%;
    }
}

.home-info p{
    font-size: 16px;
    margin: 10px 0 25px;

   
    
}
.home-info .btn-sci{
    display: flex;
    align-items: center;
}

.btn{
    display: inline-block;
    padding: 10px 30px;
    background:#7cf03d;
    border: 2px solid #7cf03d;
    border-radius: 40px;
    box-shadow: 0 0 10px #7cf03d;
    text-decoration: none;
    transition: .5s;
}
.btn:hover{
    background: transparent;
    color: #7cf03d;
    box-shadow: none;
}
.home-info .btn-sci .sci a{
display: inline-flex;
padding: 8px;
border: 2px solid #7cf03d;
border-radius: 50%;
font-size: 20px;
color: #7cf03d;
margin: 0 8px;
transition: .5s;
text-decoration: none;


}
.home-info .btn-sci .sci a:hover{
    /* background: #7cf03d; */
    background-color: var(--main-color);
    color:#1f242d;
    box-shadow: 0 0 10px #7cf03d;
}
.home-img .img-box {
 position: relative;
 width: 32vw;
 height: 32vw;
 border-radius: 50%;
 padding: 5px;
 display: flex;
 justify-content: center;
 align-items: center;
 overflow: hidden;
}
.home-img .img-box::before,
.home-img .img-box::after
{
    content: '';
    position: absolute;
    width: 500px;
    height: 500px;
    background: conic-gradient(transparent,transparent,transparent,#7cf03d);
    transform: rotate(0deg);
    animation: rotate-border 10s linear infinite;
}
.home-img .img-box::after{
    animation-delay:-5s ;
}

@keyframes rotate-border{
    100%{
        transform: rotate(360deg);

    }
}
.home-img .img-box .img-item{
    position: relative;
    width: 100%;
    height: 100%;
    background: #1f242d;
    border-radius: 50%;
    border: .1px solid deeppink;
    display: flex;
    justify-content: center;
    z-index: 1;
    overflow: hidden;

}
.home-img .img-box .img-item img {
    position: absolute;
    top:35px;
    display: block;
    width: 85%;
    object-fit: cover;
    mix-blend-mode: lighten;
}
.bars-box{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: -1;
}
.bars-box .bar{
    width: 100%;
    height: 100%;
    background:#1f242d;
    transform:translateY(-100%);
    animation: hide-bars.5s ease-in-out forwards; 
    animation-delay: calc(.1s*var(--i));
}

@keyframes hide-bars {
    0%{
        transform:translateY(0);
    }
    100% {
        transform:translateY(-100%);

    }
}


/* about section */
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    background: var(--bg-color);
    padding-bottom: 6rem;
    padding: 60px 9% 0;

}
.heading{
    font-size: 4rem;
    margin-bottom:3rem;
    text-align: center;
}
span{
    color:var(--main-color)
}
.about-img{
    position: relative;
    width: 25rem;
    height: 25rem;
    /* border: 2px solid #7cf03d; */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-img img {
    width: 90%;
    border-radius: 50%;
    border: 2px solid #7cf03d;
}
.about-img .circle-spin{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50% ,-50%)rotate(0);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-top: .2rem solid var(--second-bg-color);
    border-bottom: .2rem solid var(--second-bg-color);
    border-left: .2rem solid var(--main-color);
    border-right: .2rem solid var(--main-color);
}
.about-content{
    text-align: center;
}
.about-content h3{
    font-size: 2.6rem;
}
.about-content p{
  font-size: 1.6rem;
  margin:2rem 0 3rem;
}
.btn-box.btns{
    display: inline-block;
    width: 15rem;
}
.btn-box.btns a::before {
   background: var(--second-bg-color);
}

/* resume as portfolio */
.Portfolio{
    background: var(--bg-color);
    padding: 60px 9% 0;
}
.resume-container{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 5rem;
}
.resume-box h2{
    font-size: 3.3rem;

}
.resume-box p{
    font-size: 1.6rem;
}
.resume-box .desc{
      margin: 2rem 0 2.5rem;
}
.resume-box .resume-btn{
    width: 100%;
    height: 4.3rem ;
    background: var(--second-bg-color);
    border: .2rem solid var(--second-bg-color);
    font-size: 1.6rem;
    color: var(--white-color);
    font-weight: 500;
    margin-bottom: 2rem;
    border-radius: .8rem;
    cursor: pointer;
}
.resume-box .resume-btn.active {
    border-color: #7cf03d;
    color: var(--main-color);
}
.resume-detail{
    display: none;
}
.resume-detail.active{
    display: block;
}

.resume-box .heading{
    font-size: 3.5rem;
    text-align: left;
}
.resume-list{
    display: grid;
    /* width: 500px; */
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap:2rem;
    height:45rem;
    overflow: auto;
}
.resume-list::-webkit-scrollbar{
    width: .7rem;
}
.resume-list::-webkit-scrollbar-thumb{
     background:transparent;
     border-radius: 1rem;
}
.resume-list:hover::-webkit-scrollbar-thumb{
    background: var(--main-color);
}
.resume-list .resume-item {
    background: var(--second-bg-color);
    border-radius: .8rem;
    padding: 3rem 2.5rem;
    height: calc((35rem - 2rem )/ 2);
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.resume-item.year{
    color: var(--main-color);
}
.resume-item h3{
    font-size: 2.1rem;
}
.resume-item .company {
    position: relative;
    margin-left: 2rem;
    margin-bottom:  2rem;
}
.resume-item .company::before{
    content:'';
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    padding: .5rem;
    background: var(--main-color);
    border-radius: 50%;
    margin-left: -2rem ;
}
.resume-detail.skills .resume-list{
    grid-template-columns: repeat(auto-fit,minmax(12rem,1fr));
    height: auto;
    overflow: visible;
}
.resume-detail.skills .resume-item{
    position: relative;
    align-items: center;
    height:auto ;
}
.resume-detail.skills .resume-item i{
    font-size: 3.5rem;
    transition: .5s;
}
.resume-detail.skills .resume-item:hover i{
    color:var(--main-color);
} 
.resume-detail.skills .resume-item span{
    position:absolute;
    top:-20%;
    background: var(--white-color);
    color: var(--bg-color);
    font-size: 1.6rem;
    padding: .5rem 1rem;
    border-radius: .6rem;
    pointer-events: none;
    opacity:0;
    transform:scale(.9);
   transition: .2s; 
}
.resume-detail.skills .resume-item:hover span{
top:-25%;
opacity: 1;
transform: scale(1);
}
.resume-detail.about .resume-list{
    height: auto;
    grid-template-columns: repeat(auto-fit,minmax(15rem,1fr));
}
.resume-detail.about .resume-item{
    height: auto;
    padding: 0 0 .5rem;
    background: transparent;
}
.resume-detail.about .resume-item p{
    color: var(--main-color);

}
.resume-detail.about .resume-item p span{
    color: var(--white-color);
    margin-left: 1rem;
    font-size: 1.8rem;
}
/* Projects */
.Project{
    background: var(--bg-color);
    padding: 60px 9% 0;
}
.muruga{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /* min-height: 100vh; */
}
  .card{
    display: flex;
    position:relative;
    width: 400px;
    height: 550px;
    margin: 80px;
    
  }
  .card .face{
     position: absolute;
     width: 100%;
     height: 100%;
     backface-visibility: hidden;
     border-radius: 10px;
     overflow: hidden;
     transition:.5s;
  }
  .card .front{
       transform: perspective(600px) rotate(0deg);
       box-shadow: 0 5px 10px #000;
  }
  .card.front img{
      position:absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
  }
   .card.front h3{
      position:absolute;
      bottom: 0;
      width: 100%;
      height: 45px;
      line-height: 45px;
      color: #fff;
      background: rgba(0,0,0,.4);
      text-align: center;
    } 
  
   .card .back{
    transform: perspective(600px) rotateY(180deg);
    background: rgb(3,35,54);
    padding: 15px;
    color:#f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #000;
  }
  
  .card .back .link{
    border-top: solid 1px #f3f3f3;
    height: 50px;
    line-height: 50px;
  }
  .card .back .link a{
  color:#f3f3f3;
  }
  .card .back h3{
    font-size: 30px;
    margin-top: 20px;
    letter-spacing:2px ;
  }
  .card .back p{
    letter-spacing:1px;
  }
  .card:hover .front{
     transform: perspective(600px) rotateY(180deg);
  }
  .card:hover .back{
     transform: perspective(600px) rotateY(360deg);
  }
  /*contact section  */
  .contact{
    background: var(--bg-color);
    padding: 60px 9% 0;
}
.contact-container{
    display: grid;
    grid-template-columns: 1fr 1.3fr;
    gap:3rem;
}
.contact-container .contact-box:first-child{
   align-self: center;
}
.contact-box h2{
    font-size: 3.5rem;
}
.contact-box p{
    font-size: 1.6rem;
}
.contact-box .desc{
    margin: 1.5rem 0 2.5rem;
}
.contact-box .contact-detail {
    display: flex;
    align-items: center;
    margin: 2rem 0;
}
.contact-detail i {
    display: inline-flex;
    background: var(--second-bg-color);
    color: var(--main-color);
    font-size: 3rem;
    padding: 1.2rem;
    border-radius: .6rem;
    margin-right: 1.5rem;
}
.contact-detail .detail p:first-child {
     color: var(--main-color);
}

 .contact-box form {
    background: var(--second-bg-color);
    padding: 2.5rem 3.5rem 3.5rem;
    border-radius: 1rem;
    text-align: center;
}
.contact-box .heading{
    font-size: 2.5rem;
}
.contact-box .field-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr) ;
    gap:2rem;
}
.contact-box .field-box input,
.contact-box .field-box textarea {
    padding: 1.5rem;
    background: var(--bg-color);
    border: .5rem soild var(--bg-color);
    border-radius: .6rem;
    font-size: 1.6rem;
    color: var(--white-color);

}
.contact-box .field-box textarea {
    grid-column: 1 / -1;
    height: 15rem;
    resize: none;
}
.contact-box .field-box input:focus,
.contact-box .field-box textarea:focus {
    border-color: deeppink
}
.contact-box .btn {
    margin-top: 2rem;
    cursor:pointer;
} 


/* breakpoints */
@media screen and (max-width: 1200px){
    html {
        font-size: 55%;
    }
}
@media screen and (max-width: 992px){
    header {
       padding: 2rem 4%;
    }
    section{
        padding: 10rem 4% 2rem;
    }
}
@media screen and (max-width: 810px){
    .contact-box .field-box {
        grid-template-columns: 1fr;
    }
}
@media screen and (max-width: 768px){
    #menu-icon {
       display: block;
       
    }
    nav{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0,0,0, .2);
        box-shadow: 0 .5rem 1rem rgba(0,0,0, .2);
        text-align: center;
        display: none;
    }
    .navbar.active{
        display: block;
    }
  .navbar a {
    display: block;
    margin: 4rem 0;
  }
  .home{
    flex-direction: column-reverse;
    justify-content: center;
    gap: 2rem;
  }
  .home-img .img-box{
    width: 35rem;
    height: 35rem;
  }
.resume-container,
.Project .container,
.contact-container{
    grid-template-columns: 1fr;
}
.resume-container{
    gap: 3rem;
}
.Project .container .face:first-child{
    order:1;
  }
  .contact-box .field-box{
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and(max-width: 600px)  {
    .home-img .img-box{
        width: 30rem;
        height: 30rem;
    }
    .contact-box .field-box{
        grid-template-columns: 1fr;
    }
}
@media screen  and (max-width:450px){
    html{
     font-size: 50%;
    }
}
@media screen  and (max-width:400px){
    .home-info,
    .resume-box h2,
    .resume-box .heading,
    .resume-box .desc,
    .resume-detail.about .resume-item{
        text-align: center;
    }
    .home-info .btn-sci{
        flex-direction: column-reverse;
    }
    .home-info .btn-sci .sci{
        margin-left: 0;
        margin-bottom: 2rem;
    }
    .contact-box form {
        padding: 2rem 3rem 3.5rem;
    }
    .contact-box h2{
        font-size: 3.5rem;
    }
}
